body{
    padding: 0;
    margin: 0;
    background-color: #153f7d;
}


.content-navbar{
    background-color: #880015;
    height: 110px;
    padding-top: 1px;
}
.content-navbar:hover{
    opacity: 0.9;
    cursor: pointer;
}

ul li{
    color: #edf2f4;
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 19px;
    float: left;
    margin-left: 185px;
    margin-top: 15px;
    font-weight: 500;
    --s: 0.1em;   /* the thickness of the line */
    --c: #ede2e2; /* the color */
    padding-bottom: var(--s);
    background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.5s;
    font-family: 'Calibri', sans-serif;
    

}

ul li:hover{
    background-color: #370617;
    --_p: 100%;
}

.h1-projects{
    background-color: #adb5bd; 
    height: 242px;
    margin-top: -21px;
}
h1{
    color: #7f5539;
    /* text-transform: uppercase; */
    text-align: center;
    padding-top: 20px;
}
h2{
    color: white;
}
.pc-img{
    width: 236px;
    margin-top: 10px;
    margin-left: 620px;
    box-shadow: none;
}
#Timer{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    color:#d00000
}
#Desktop-clock{
    color:#d00000;
    font-size: 25px;
    display: grid;
    margin-left: 10px;
    margin-top: 10px;

}

#Login{
    color:#d00000;
    font-size: 25px;
    display: grid;
    margin-left: 10px;
    margin-top: 113px;
    text-transform: uppercase;
}
.link:hover{
    color: #7209b7;
}

#small-window{
    padding-top: 40px;
    float: left;
    
   }
   #pop-window{
       padding-top: 70px;
       background-color: #880015;
       width: 90px;
       height: 0px;
       display:none;
       margin-left: -80px;
       margin-top: 5px;
       
       
   }
   #pop-window img{
       width: 30px;
       margin-left: 10px;
       margin-top: -100px;
   }
h3{
    color: white;
    text-align:left;
}

/* footer */
.footer{
    background-color: #250902;
    height: 104px;
    margin-top: 428px;
   padding-bottom: 10px;
   border-top: 1px double #480703;
}   

.text-footer{
    color: #d4a373;
    margin-left: 37%;
    margin-top: 53px

}

.social-media-facebook{
    margin-left: 49%;
    margin-bottom: -25px;
    padding-top: 40px;
    
}

.social-media-facebook img{
    width: 21px;
    


}
.social-media-instagram{
    margin-left: 51%;
    margin-top: 0px;
} 
.social-media-instagram img{

    width: 22px;

    
} 

#small-window{
    padding-top: 40px;
    float: left;
    
   }
   #pop-window{
       padding-top: 80px;
       background-color: #880015;
       width: 200px;
       height: 59px;
       display:none;
       margin-left: -80px;
       padding-bottom: 22px;
       margin-top: 56px;
       position: absolute;    
       
   }
   
   #pop-window img{
       width: 30px;
       margin-left: 10px;
       margin-top: -40px;
     
       
   }
   #pop-lk{
       padding-top: -20px;
       background-color: #880015;
       width: 200px;
       height: -0px;
       display:none;
       margin-left: -80px;
       padding-bottom: 22px;
       margin-top: 56px;
       position: absolute;    
   }
   
   #pop-lk img{
       width: 30px;
       margin-top: 20px;
       margin-left: 10px;
      
   }

   #pop-insta{
    display:none;
}
#pop-insta img{
    width: 30px;
    margin-left: -69px;
    margin-top: 166px;
    position: absolute;
    
}
   .small-window-p-wpp{
    color: rgb(234, 224, 226);
    padding-left: 43px;
    margin-top: -27px;
    font-size: 14px;
    font-family: 'Calibri', sans-serif;

    
}

.small-window-p-lk{
    color: rgb(234, 224, 226);
    padding-left: 44px;
    margin-top: -28px;
    font-size: 14px;   
    font-family: 'Calibri', sans-serif;
}
.small-window-p-insta{
    color: rgb(234, 224, 226);
    margin-left: -34px;
    margin-top: 170px;
    font-size: 14px;   
    font-family: 'Calibri', sans-serif;
    position: absolute;
}

.a{
    text-decoration: none;  
}

img.menu{

    display: none;
    }
    br{
        display: none;
    }

.site-img{
    width: 392px;
    box-shadow: 0 .5rem 1rem rgba(106, 4, 15);
    margin-top: 30px;
    
}
img:hover{
    opacity: 0.7;
}

p{
    color: white;
}


/* mobile */

@media(max-width: 480px){
    .content-navbar{
        height: 428px;
        margin-left: -208px;
        width: -1px;
        margin-right: 200px;
        margin-top: 3px;
        display: none;
        background: linear-gradient(90deg, rgba(54,49,57,1) 23%, rgb(196 26 26) 49%, rgb(71 14 26) 81%, #170000 94%);
        position: absolute;
        border-radius: 2%;
    
        
        }  
        .content-navbar-li a li{
        color: white;
        margin-top: 47px;
    
    }
    .content-navbar-li a li:hover{
        background-color: #7209b7;
        cursor: pointer;
       
    }
    .menu{
        width: 46px;
        margin-left: 0%;
        margin-top: 16px;
        display: flex;
        
    }
    img.menu{
    
        display: flex;
        width: 43px;
        margin-left: 10px;
        margin-top: 30px;
     }
    div.content-body{
      padding-top: 173px;
      font-size: 26px;
    }
    
     .content-body h1{
        font-size: 22px;
        margin-left: -126px;
        padding-top: 40px;
        margin-top: -70px;
    }
    
        
    
     .content-body h1.name{
        color:#880015;
        margin-left: -40px;
        margin-top: -80px;
        font-size: 22px;
       
    }
    .content-body h1.name:hover{
        color: #d00000;
        cursor: pointer;
    }
    
    .content-body .virgula{
        color: rgb(255, 249, 250);
        margin-left: 45px;
        margin-top: -80px;
    
    }
    .img img {
        margin-left: 2%;
        margin-top: -7px;
        width: 22rem;
    }
    br{
        display: flex;
    }
  
    footer.footer{
        width: 100%;
        margin-top: 646px;

    }
    .footer .social-media-facebook {
        margin-left: -63%;
        margin-bottom: 10px;
        padding-top: 40px;
    }
    footer img{
        width: 36px;
    }
    
    
    
    div.text-footer {
        margin-left: 13%;
        margin-top: 44px;
        font-size: 11px;
    
    }.pc-img{
    width: 156px;
    margin-top: -11px;
    margin-left: 103px;
    }
    h2{
        color: white;
        font-family: system-ui;
}
    }
    